body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  max-width: 1750px;
  margin-inline: auto;
}

.nav-logo-perent {
  width: 295px !important;
}

.nav-logo {
  width: 295px;
  height: 85px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar {
  background-color: #fff;
}

.left-top-nav {
  position: absolute;
  left: 0;
  top: 0;
}

.rigth-top-nav {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-container {
  position: relative;
}

.nav-link-text {
  color: #000;
  font-size: 18px;
}

.home-body {
  position: relative;
  height: 790px;
  width: 100%;
}

.home-heading {
  font-size: 56px;
  font-weight: 500;
}

.home-col-2 {
  padding-top: 116px;
  padding-left: 100px !important;
}

.home-peragraph {
  font-size: 18px;
  line-height: 21px;
  max-width: 500px;
  padding-left: 5px;
  padding-top: 10px;
}

.home-rigth-foot {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-left-foot {
  position: absolute;
  bottom: 0;
  left: 0;
}

.home-vector {
  position: absolute;
  bottom: 0;
  left: 140px;
}

.home-bg-cloud {
  position: absolute;
  left: 0;
  z-index: -10;
}

.about-body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-main-img {
  margin-top: 100px;
  width: 612px;
  height: 408px;
  padding-right: 100px;
}

.about-col-2-container {
  padding-left: 20px;
}
.about-heading {
  font-size: 48px;
}

.about-hr-top {
  width: 238px;
  height: 2px;
  background-color: #a9a9a9;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.about-ht-bottom {
  width: 156px;
  height: 7px;
  background-color: #a9a9a9;
  border-radius: 4px;
}

.about-paragraph {
  padding-top: 40px;
}
.about-Engagement-container,
.about-Communications-container {
  max-width: 275px;
  padding-top: 20px;
}

.Communications-body-main,
.Facilitation-body-main {
  position: relative;
}
.Facilitation-bg-img {
  position: absolute;
  bottom: -150px;
  left: 0;
}
.Communications-bg-img {
  position: absolute;
  right: 0;
  top: 0;
}

.about-service {
  display: flex;
  justify-content: space-between;
}
.about-Engagement-heading,
.about-Communications-heading {
  font-size: 24px;
  color: #000;
  padding-top: 20px;
}

.about-Communications-paragraph,
.about-Engagement-paragraph {
  font-size: 18px;
  color: #2c2c2c;
  padding-top: 20px;
}

.services-body {
  position: relative;
  padding-top: 100px;
}
.Traning-body-main {
  position: relative;
}
.Traning-bg-img {
  position: absolute;
  top: -50px;
  right: 0;
}
.services-bg-img {
  position: absolute;
  left: 0;
  top: 0;
}
.services-heading-container {
  text-align: center;
}
.services-heading {
  font-size: 48px;
  color: #000;
}
.services-hr-top {
  width: 238px;
  height: 2px;
  margin-inline: auto;
  background-color: #a9a9a9;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.services-hr-bottom {
  width: 62px;
  height: 7px;
  background-color: #a9a9a9;
  border-radius: 4px;
}
.team-hr-top {
  width: 241px;
  height: 2px;
  margin-inline: auto;
  background-color: #a9a9a9;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.team-hr-bottom {
  width: 101px;
  height: 7px;
  background-color: #a9a9a9;
  border-radius: 4px;
}
.project-hr-top {
  width: 362px;
  height: 2px;
  margin-inline: auto;
  background-color: #a9a9a9;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.project-hr-bottom {
  width: 103px;
  height: 7px;
  background-color: #a9a9a9;
  border-radius: 4px;
}
.client-hr-top {
  width: 301px;
  height: 2px;
  margin-inline: auto;
  background-color: #a9a9a9;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.client-hr-bottom {
  width: 104px;
  height: 7px;
  background-color: #a9a9a9;
  border-radius: 4px;
}

.Service-Engagement-body,
.Service-Facilitation-body,
.Service-Traning-body {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: start;
}

.Engagement-body,
.Facilitation-body,
.Traning-body {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: end;
  padding-right: 50px !important;
}

.Services-Engagement-heading,
.Services-Communications-heading,
.Services-Facilitation-heading,
.Services-Consultation-heading,
.Services-Traning-heading {
  font-size: 42px;
  padding-top: 50px;
}

.Services-Engagement-paragraph,
.Services-Communications-paragraph,
.Services-Facilitation-paragraph,
.Services-Consultation-paragraph .Services-Traning-paragraph {
  font-size: 16px;
  padding-top: 20px;
  max-width: 523px;
}
.Services-Engagement-img-container,
.Services-Facilitation-img-container,
.Services-Traning-img-container {
  padding-left: 100px !important;
}
.Services-Communications-img-container,
.Services-Consultation-img-container {
  padding-right: 100px !important;
}
.order-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.order-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse !important;
}

.Communications-body,
.Consultation-body {
  padding-left: 100px !important;
}

.our-team-body {
  /* display: flex;
  justify-content: space-between; */
  padding-top: 50px;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-paragraph {
  font-size: 24px;
  padding-top: 20px;
}
.team-main-body {
  padding-bottom: 100px;
  position: relative;
}
.team-bg-img {
  position: absolute;
  top: -100px;
  left: 0;
}
.project-main-body,
.client-main-body {
  position: relative;
}
.project-bg-img {
  position: absolute;
  top: -200px;
  right: 0;
}
.client-bg-img {
  position: absolute;
  top: 0;
  left: 0;
}
.project-img-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.project-img-1-container {
  display: flex;
  justify-content: flex-end;
}
.project-img-3 {
  margin-top: 22px;
}

.client-img-container-1,
.client-img-container-2 {
  padding-top: 50px;
}
.client-heading-container {
  padding-top: 100px;
}
.client-img-container-2 {
  padding-bottom: 100px;
}

.client-img-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-copy p {
  font-size: 14px;
  color: #2c2c2c;
}

.footer-body {
  background-color: #bfdbff;
  padding: 50px 100px 50px 100px;
}

.footer-body-heading {
  font-size: 16px;
  font-weight: 700;
}

.footer-company {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  text-decoration: none;
  color: #2c2c2c;
  cursor: pointer;
}
.footer-explore {
  text-decoration: none;
  color: #2c2c2c;
  cursor: pointer;
}
.footer-links-para {
  padding: 0px;
  margin: 0px;
}
.footer-expore {
  padding-top: 14px;
}
.contact-para {
  padding-top: 10px;
}
.footer-social {
  padding-left: 38px;
}
