@media only screen and (max-width: 1650px) {
  .home-rigth-foot {
    width: 200px;
    right: 0;
  }

  .home-vector {
    width: 400px;
    left: 140px;
  }

  .home-bg-cloud {
    bottom: 0;
    width: 800px;
  }
  .about-main-img {
    width: 512px;
    height: 308px;
  }
  .about-Engagement-container,
  .about-Communications-container {
    max-width: 230px;
    padding-top: 20px;
  }
  .home-col-2 {
    padding-left: 50px !important;
  }
  .Communications-bg-img,
  .services-bg-img,
  .Facilitation-bg-img,
  .Traning-bg-img,
  .team-bg-img,
  .project-bg-img,
  .client-bg-img {
    z-index: -1;
  }
}

@media only screen and (max-width: 1401px) {
  .project-img-1 {
    width: 400px;
    height: 500px;
  }
  .project-img-2,
  .project-img-3 {
    width: 350px;
    height: 240px;
  }
}

@media only screen and (max-width: 1200px) {
  .home-heading {
    font-size: 40px;
  }
  .Services-Engagement-img,
  .Services-Facilitation-img,
  .Services-Traning-img,
  .Services-Communications-img,
  .Services-Consultation-img {
    width: 300px;
  }
  .Communications-bg-img,
  .services-bg-img,
  .Facilitation-bg-img,
  .Traning-bg-img,
  .team-bg-img,
  .project-bg-img,
  .client-bg-img {
    width: 100px;
  }
  .services-body {
    padding-top: 50px;
  }
  .Service-Engagement-body,
  .Service-Facilitation-body,
  .Service-Traning-body {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Engagement-body,
  .Facilitation-body,
  .Traning-body {
    padding-right: 30px !important;
  }
  .Services-Engagement-heading,
  .Services-Communications-heading,
  .Services-Facilitation-heading,
  .Services-Consultation-heading,
  .Services-Traning-heading {
    font-size: 30 px;
    padding-top: 20px;
  }
  .Services-Engagement-img-container,
  .Services-Facilitation-img-container,
  .Services-Traning-img-container {
    padding-left: 50px !important;
  }
  .Services-Communications-img-container,
  .Services-Consultation-img-container {
    padding-right: 50px !important;
  }
  .client-img-body img {
    width: 100%;
  }
  .footer-body {
    padding: 30px;
  }
  .client-heading-container {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .left-top-nav {
    width: 100px;
  }
  .services-hr-top {
    width: 180px;
  }
  .team-hr-top {
    width: 180px;
  }
  .project-hr-top {
    width: 260px;
  }
  .client-hr-top {
    width: 230px;
  }
  .about-heading,
  .services-heading {
    font-size: 35px;
  }

  .rigth-top-nav {
    display: none;
  }

  .home-vector {
    display: none;
  }

  .home-bg-cloud {
    display: none;
  }

  .home-rigth-foot {
    width: 100px;
  }

  .home-left-foot {
    width: 100px;
  }

  .home-body {
    height: 500px !important;
  }

  .nav-logo {
    width: 200px;
    height: 60px;
  }
  .about-main-img {
    display: none;
  }
  .Services-Engagement-img-container,
  .Services-Facilitation-img-container,
  .Services-Traning-img-container {
    display: none;
  }
  .Services-Communications-img-container,
  .Services-Consultation-img-container {
    display: none;
  }
  .Engagement-body,
  .Facilitation-body,
  .Traning-body {
    text-align: start;
    align-items: start;
  }
  .Communications-body,
  .Consultation-body {
    padding-left: 10px !important;
  }
  .Communications-bg-img,
  .services-bg-img,
  .Facilitation-bg-img,
  .Traning-bg-img,
  .team-bg-img,
  .project-bg-img,
  .client-bg-img {
    width: 50px;
  }
  .project-img-1-container {
    justify-content: center;
  }
  .project-img-2-3-container {
    padding-top: 20px;
  }
  .project-img-2-3-container-col {
    display: flex;
    justify-content: center;
  }
  .project-img-2,
  .project-img-3 {
    width: 400px;
  }
  .team-main-body {
    padding-bottom: 50px;
  }
  .footer-social {
    padding: 0px;
    margin-bottom: 0px;
  }
  .footer-body-heading {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .Services-Engagement-paragraph,
  .Services-Communications-paragraph,
  .Services-Facilitation-paragraph,
  .Services-Consultation-paragraph .Services-Traning-paragraph {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .home-left-foot {
    width: 50px;
  }
  .about-service {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .Communications-bg-img,
  .services-bg-img,
  .Facilitation-bg-img,
  .Traning-bg-img,
  .team-bg-img,
  .project-bg-img,
  .client-bg-img {
    display: none;
  }
  .about-Engagement-container,
  .about-Communications-container {
    max-width: 60%;
    padding-top: 20px;
  }
  .Services-Engagement-heading,
  .Services-Communications-heading,
  .Services-Facilitation-heading,
  .Services-Consultation-heading,
  .Services-Traning-heading {
    font-size: 30px;
  }
  .project-img-2,
  .project-img-3 {
    width: 250px;
    height: 160px;
  }
  .project-img-1 {
    width: 250px;
    height: 400px;
  }
  .about-body {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .services-body {
    padding-top: 20px;
  }
  .Service-Engagement-body,
  .Service-Facilitation-body,
  .Service-Traning-body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px !important;
  }
  .Communications-body,
  .Consultation-body {
    padding-left: 20px !important;
  }
  .client-heading-container {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .home-heading {
    font-size: 30px;
  }

  .about-heading,
  .services-heading {
    font-size: 25px;
  }
  .Services-Engagement-heading,
  .Services-Communications-heading,
  .Services-Facilitation-heading,
  .Services-Consultation-heading,
  .Services-Traning-heading {
    font-size: 22px;
  }

  .about-hr-top {
    width: 155px;
  }
  .services-hr-top {
    width: 120px;
  }
  .team-hr-top {
    width: 120px;
  }
  .project-hr-top {
    width: 190px;
  }
  .client-hr-top {
    width: 180px;
  }

  .footer-email,
  .contact-para,
  .footer-explore p,
  .footer-company p {
    font-size: 14px;
  }
  .footer-body {
    padding: 5px;
    padding-left: 20px !important;
  }
  .footer-copy p span {
    display: block;
  }
  .about-Engagement-container,
  .about-Communications-container {
    max-width: 90%;
  }
  .nav-logo {
    width: 150px;
    height: 45px;
  }
  .home-col-2 {
    padding-left: 20px !important;
  }
  .client-img-container-2 {
    padding-bottom: 50px !important;
  }
}
